<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497478915853-2kol7pbfanfh1rcq3fs7ci54a6oikmm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497478915853-2kol7pbfanfh1rcq3fs7ci54a6oikmm2</string>
	<key>API_KEY</key>
	<string>AIzaSyCWEekrb8vbVCh1w0IV1jurDY0pYNsrsgo</string>
	<key>GCM_SENDER_ID</key>
	<string>497478915853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patientRecord</string>
	<key>PROJECT_ID</key>
	<string>record-dr</string>
	<key>STORAGE_BUCKET</key>
	<string>record-dr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497478915853:ios:4cbc7803f12743a90e8244</string>
	<key>DATABASE_URL</key>
	<string>https://record-dr.firebaseio.com</string>
</dict>
</plist>